<section>

<!-- Fixed size parent container -->
<div class="boxTest">
  <p>THIS IS BLUE boxTest</p>

<div class="section_images">
  <img class="hidden desktop-show" src="./assets/img/about/static/hero-furry-desktop.jpg">
  <img class="hidden tablet-show" src="./assets/img/about/static/hero-furry-tablet.jpg">
  <img class="hidden mobile-show" src="./assets/img/about/static/hero-furry-mobile.jpg">
</div>

<div class="section_body">
  <h2>{{mainBannerInfo.headerText}}</h2>
  <h4>{{mainBannerInfo.bodyText}}</h4>
</div>

</div>

<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>

</section>
