.section_images img {
  position: absolute;
  min-width: 100%;
  top: 0;
  left: -100%;
  right: -100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  max-height: 500px;

}

.boxTest {
  position: relative;
  max-height: 500px;
  padding-left: 50%;
  border: 3px solid blue;

}

.section_body {
  position: absolute;
  margin-right: 20px;
  color: white;
  right: 0;
  border: 3px solid green;

}



.hidden {
    display: none !important;
}


@media only screen and (max-width: 639px) {
  .mobile-show {
      display: block !important;
  }
}


@media only screen and (max-width: 1023px) and (min-width: 640px) {
  .tablet-show {
      display: block !important;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop-show {
      display: block !important;
  }
}

/* .mobile-show {
    display: block !important;
} */
