<section>

<!-- Fixed size parent container -->
<div class="boxTest">

<div class="section_images">
  <img class="hidden desktop-show" src="./assets/img/{{mainBannerInfo.imageDesktop}}">
  <img class="hidden tablet-show" src="./assets/img/{{mainBannerInfo.imageTablet}}">
  <img class="hidden mobile-show" src="./assets/img/{{mainBannerInfo.imageMobile}}">
</div>

<div class="section_body">
  <h2>{{mainBannerInfo.headerText}}</h2>
  <h4>{{mainBannerInfo.bodyText}}</h4>
</div>

</div>

<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>
<p>
  test
</p>

</section>
